.feature-title, .feature-description {
    font-family: Raleway!important;
}

.title {
    font-family: 'Londrina Solid'!important;
    font-size: 40px!important;
}

.subtitle {
    font-family: 'Londrina Solid'!important;
    font-size: 30px!important;
}

/* products */
.product-tab-link {
    border: 3px solid gray;
    border-radius: 50px;
    padding: 10px;
    color: gray;
    font-size: 25px;
}

.bg-secondary {
    font-size: 15px!important;
    background-color: #FFE463!important;
}

.product-tab-link:hover {
    opacity: 0.5;
}

.bg-footer {
    background-color: #11ACDE!important;
}

.title-footer {
    color: #2373A4!important;
}

.image-gallery-svg {
    width: 50px!important;
    height: 50px!important;
}